.noticia {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 10px;
  width: 350px;
  height: 500px;
  border: 1px solid #1d1e2b;
  border-radius: 5px;
  box-shadow: 0 0 20px #ccc;
}

.noticia-image {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.noticia-title {
  font-size: 28px;
  color: #1d1e2b;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}

.noticia-message {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.btn{
  background: #1d1c28;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  padding: 10px 5px;
  border:0;
  border-radius: 0.6rem;
  box-shadow: 0 0 20px 0 #1d1c28;
  transition: .4s;
  animation: fadeInDown;
  animation-duration: .8s;
  animation-fill-mode: backwards;
  animation-delay: .8s;
  outline: none;
  cursor: pointer;
}
.btn:hover{
  box-shadow: 0 0 40px 0 #0077ff;
}